@font-face {
  font-family: "Peugeot Light";
  src: url("https://db.onlinewebfonts.com/t/5cbc3d5ef704dcc28912f6d797ace23d.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/5cbc3d5ef704dcc28912f6d797ace23d.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://db.onlinewebfonts.com/t/5cbc3d5ef704dcc28912f6d797ace23d.woff2")
      format("woff2"),
    /* chrome firefox */
      url("https://db.onlinewebfonts.com/t/5cbc3d5ef704dcc28912f6d797ace23d.woff")
      format("woff"),
    /* chrome firefox */
      url("https://db.onlinewebfonts.com/t/5cbc3d5ef704dcc28912f6d797ace23d.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("https://db.onlinewebfonts.com/t/5cbc3d5ef704dcc28912f6d797ace23d.svg#Peugeot Light")
      format("svg"); /* iOS 4.1- */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Peugeot Light";
}

.nav-link {
  font-size: 14px;
  padding-bottom: 0;
}

video {
  outline: none;
}

.hidden {
  overflow: hidden;
}

body {
  background: #fff;
  color: #3c3947;
  padding: 0;
  margin: 0;
}

.fa-greater-than {
  font-size: 10px !important;
}

.nav-title {
  background-color: rgba(22, 33, 51, 0.72);
  color: white;
  padding: 0.6rem 1rem;
  margin: 0;
}

#vendndodhja-details {
  display: flex;
  height: 680px;
  background-color: #f5f5f5;
}

#text h4 {
  text-align: center;
  color: #3c3947;
  border-bottom: 1px solid #e2e1e5;
  padding: 1rem 0;
}

#text .row {
  width: 100%;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 20rem 20rem;
  margin: auto;
  grid-gap: 1px;
  padding: 0;
  height: 360px;
}

#splide03-track {
  height: 420px !important;
}

#galeria .splide__slide {
  height: unset !important;
}

.legal-notice {
  background-color: rgba(0, 0, 0, 0.63);
  position: relative;
  bottom: 127px;
  padding: 5px 20px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
  font-style: italic;
}

#teknologjia .nav-link.active,
#motori .nav-link.active {
  background-color: #ececee !important;
  color: black;
}

.isTip {
  display: inline-block;
  margin: 0 5px;
  border-bottom: 0 dotted #ccc;
  background: #ececee;
  cursor: pointer;
  padding: 2px 9px;
  color: #007edb;
  font-weight: bold;
}

.text-permas {
  color: white;
  font-size: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: none;
}

.overlay-foto {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(18, 70, 130, 0.8);
}

.container-foto {
  position: relative;
  width: 50%;
}

.container-foto:hover .overlay-foto {
  opacity: 1;
  cursor: pointer;
}

.fixed-menu {
  background-color: #f3f0eb;
  position: relative;
  top: -100px;
  z-index: 11;
  max-width: 80rem;
}

.fixed-menu .row .current {
  background-color: #f3f0eb !important;
}

.fixed-menu .row {
  background-color: white !important;
}

.fixed-menu .row p:first-child {
  border-right: 1px solid #cdcdcd;
}

.fixed-menu .row p:hover,
.fixed-menu .row div:hover {
  cursor: pointer;
  background-color: #f3f0eb !important;
}

.above {
  position: relative;
  top: -120px;
}

.fixed-menu ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-bottom: 0;
}

.fixed-menu ul li {
  padding: 1rem;
  border-bottom: 2px solid transparent;
}

.fixed-menu ul li:hover {
  cursor: pointer;
  border-bottom: 2px solid #0062c5;
}

.sticky {
  position: fixed;
  top: 0;
}

.stickyb {
  position: fixed !important;
  bottom: 0 !important;
}

.content .more-btn {
  width: auto !important;
  padding: 0 1rem;
}

#text .row i {
  display: flex;
  text-align: center;
  flex-direction: column;
  line-height: 25px;
}

#vendndodhja-details iframe {
  border: none;
  height: auto;
  padding: 0;
}
#kontakt-details {
  display: flex;
  height: 500px;
  background-color: #f5f5f5;
}
#kontakt-details iframe {
  border: none;
  height: auto;
  width: 100%;
  padding: 0;
}

.backu {
  color: #557e9c;
  background-color: #f1f3f2;
  padding: 14px;
  font-size: 17px;
}

.breadcrumb {
  background-color: rgba(22, 33, 51, 0.72);
  color: white;
  border-radius: unset;
  padding: 0.2rem 1rem;
  font-size: 11px;
}

.titull {
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s;
  z-index: 1;
  background: rgba(18, 70, 130, 0.8);
  cursor: pointer;
  padding-left: 10px;
  width: 100%;
  height: 40px;
  max-height: 40px;
  color: white;
  z-index: 1;
}

.titull h5 {
  line-height: 40px;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: white !important;
}

#financimi-img,
#peugeot108-img,
.car-img,
#activedrive-img,
#automjetet-img,
#intervalisherbimit-img {
  width: 100%;
  z-index: -1;
  position: relative;
  top: -96px;
}

#automjete {
  height: 400px;
}

/* .car,
#automjete,
#financimi,
#peugeot108,
#activedrive,
#intervalisherbimit,
#automjetet,
#vendndodhja,
#kontakt,
#lajme,
#oferta,
#sistemifrenimit,
#antialergji,
#kitdistributori,
#kontrollibaterise,
#paketaxhamave,
#hartafaqes,
#lajmepartner,
#lajmepuretech,
#lajmedakar,
#lajme508,
#kontrollkondicioner,
#nderrimifiltrave,
#sherbimservis,
#rrethnesh,
#politikat,
#kerkesekembimi,
#oferteautomjete,
#testdrive,
#main-carousel {
  position: relative;
  top: -98px;
} */

/* #kerkesekembimi-details, */
/* #oferte-automjete{
  width: 90%;
  margin: auto;
} */

#myform,
#oferteform,
#driveform {
  display: flex;
  flex-direction: column;
}

.form-neccessary {
  width: 100% !important;
}

#myform input:not([type="checkbox"]),
#te-dhena input:not([type="checkbox"]) {
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 0.875rem;
  height: 2.3125rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  width: 50%;
  box-sizing: border-box;
  outline: none;
}

#oferteform select,
#driveform select {
  width: 30%;
  margin: 1rem;
  padding: 7px;
  outline: none;
}

#zgjedh-modelin label {
  width: 11%;
}

#checkbox-form {
  display: flex;
  padding: 1rem;
  align-items: center;
}

#automjete-img,
#rrethnesh-img,
#politikat-img,
#sherbimservis-img,
#kontakt-details {
  width: 100%;
  position: relative;
  top: -16px;
  z-index: -1;
}

#oferta-details .row div {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#financimi-sponsors {
  width: 90%;
  margin: auto;
  text-align: center;
}

#sponsors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 10rem;
  justify-content: center;
}

#content-butona {
  display: flex;
  justify-content: space-evenly;
  width: 450px;
  margin: auto;
  flex-wrap: wrap;
}

#sponsors a {
  width: 33%;
}

#sponsors img {
  max-width: 100%;
}

#description-panel {
  color: white;
  background-color: rgba(71, 91, 108, 0.6);
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 15px;
  font-size: 15px;
  line-height: 27px;
  position: absolute;
  top: 10%;
  height: 260px;
  right: 5%;
}

#lajme-details .row {
  width: 95% !important;
  margin: auto;
}

#lajme-details .card {
  margin-bottom: 4rem;
  min-height: 700px;
}

#lajme-details .card-body {
  padding: 1rem 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#lajme-details .card-btn {
  width: 115px;
}

#description-panel-interval {
  color: white;
  background-color: rgba(71, 91, 108, 0.6);
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 15px;
  font-size: 15px;
  position: absolute;
  top: 5%;
  right: 5%;
}

#description-panel-automjete {
  color: white;
  background-color: rgba(71, 91, 108, 0.6);
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 15px;
  font-size: 12px;
  position: relative;
  top: -310px;
  height: 260px;
  right: -65%;
}

#description-panel p {
  padding: 10px 0;
}

#automjetet ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
}

#automjetet #available {
  line-height: 50px;
  padding: 0 25px;
  background-color: #f3f0eb;
  border: 1px solid #b4b4b4;
  border-width: 0 0 1px;
}

#automjetet ul li {
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  font-size: 0.875rem;
  justify-content: center;
}

#automjetet ul li:hover {
  background-color: #f3f0eb;
}

#automjetet-details .row img {
  margin-bottom: 10px;
}

#automjetet-details .row p {
  text-align: left;
  font-weight: bolder;
  padding-top: 10px;
  border-top: 1px solid #b4b4b4;
}

#automjetet-details .vehicle:hover {
  background-color: unset;
}

#automjetet-details .row p:hover {
  border-top: 1px solid #007be0;
}

.current {
  background-color: #f3f0eb;
}

#pozicioni .row h5 {
  font-size: 1rem;
}

#sherbimet h2 {
  text-align: center;
  padding-top: 3rem;
}

.App {
  max-width: 80rem;
  margin: auto;
}

#main-carousel {
  width: 100%;
  height: auto;
}

#main-carousel .more-btn {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

#main-carousel img {
  cursor: pointer;
}

a {
  /* display: block; */
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.space {
  background-color: #0c2d47;
  width: 100px;
  height: 30px;
  color: white;
}

#protocol-btn {
  display: block;
  background-color: #133d5f;
  text-align: center;
  width: 250px;
  height: 100px;
  color: white;
  margin: 2rem auto;
  line-height: 50px;
  font-size: 14px;
  text-decoration: none;
  transition: 0.9s;
  border-bottom-color: #162133;
}

#protocol-btn:hover {
  background-color: #0c2d47;
}

.card {
  border: unset !important;
  align-items: center;
  padding: 1px;
}

#for-you .card img,
#servicing .card img {
  cursor: pointer;
}

#servicing-btn {
  text-align: center;
  display: flex;
  justify-content: center;
}

#car-models {
  border: 1px solid #80808030;
}

#car-models .card {
  text-align: center;
  border-right: 1px solid #80808030 !important;
}

#car-models .card:hover {
  box-shadow: inset 0 0 0 3px #007edb;
  cursor: pointer;
}

#car-models .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 350px;
}

.more-btn {
  background-color: #007edb;
  text-align: center;
  color: white;
  width: 100px;
  height: 50px;
  line-height: 50px;
  border: unset;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
}

.more-btn:hover {
  transition: 0.9s;
  background-color: #0062c5;
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}

.card-btn {
  padding: 5px;
  margin-top: 1rem;
  width: 250px;
  height: 50px;
  background-color: #133d5f;
  color: white !important;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

.card-text {
  color: #777;
}

/* navbar */

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.menu-mobile-text {
  display: none;
  color: white;
  font-size: 11px;
  padding-left: 0.05rem;
}

#faqja-kryesore {
  display: none;
}

#first-li span,
#second-li span {
  color: #2b547e;
}

#first-li span,
#second-li span,
#third-li span {
  display: none;
}

nav {
  width: 100%;
  margin: auto;
  background-color: #162133;
  height: 100px;
  z-index: 13;
}

.nav-link:hover {
  color: #0062c5 !important;
}

.navbar-nav {
  width: 85%;
  position: absolute;
  justify-content: space-around;
}

#teknologjia #pershtat-slide video {
  width: 50%;
}

nav ul li a {
  color: white !important;
  font-size: 1rem;
  cursor: pointer;
}

.right-header {
  color: white;
  display: flex;
  font-size: 0.625rem;
  align-items: center;
  z-index: 11;
  position: relative;
  left: 15px;
  top: -30px;
  width: 30%;
  justify-content: space-evenly;
}

#motor-deck .card {
  /* margin: 0 auto; */
}

.right-header span:last-child {
  border: unset;
}

.right-header span {
  border-right: 1px solid white;
  cursor: pointer;
}
.right-header i {
  font-size: 20px;
  cursor: pointer;
}

#hartafaqes-details .row {
  width: 95%;
  margin: auto;
}

#hartafaqes-details .row ul li {
  list-style: inside;
  color: #007edb;
  font-size: 0.75rem;
}

.p2008 li {
  list-style: inside;
  color: #007edb;
}

.p2008 li p {
  color: black !important;
  display: inline;
}

#hartafaqes-details .row ul li a {
  color: black !important;
}

#hartafaqes-details .row ul li a:hover,
#hartafaqes-details strong:hover,
#hartafaqes-details b:hover,
#hartafaqes-details h2:hover:not(.text-muted) {
  color: #006cbc !important;
}

#hartafaqes-details h2 {
  border-bottom: 1px solid #aba6a8;
  padding-bottom: 1rem;
  display: inline-block;
  font-size: 1.125rem;
  color: #3c3947;
  cursor: pointer;
}

.overlay-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #fff;
  width: 100%;
  height: 100%;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}
.overlay-menu.show {
  display: block !important;
  opacity: 0.8 !important;
  z-index: 12;
}

.customsize {
  color: #2b547e;
  font-size: 25px;
  margin-left: 1rem;
}
.get-back {
  background-color: #ececee;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid transparent;
  border-image: linear-gradient(
      90deg,
      transparent 0,
      #2a2a2a 20%,
      #2a2a2a 50%,
      #2a2a2a 80%,
      transparent
    )
    0 0 1 0;
}

#panel {
  height: 550px;
  width: 80.05rem;
  position: absolute;
  top: 100px;
  z-index: 99;
}

#panel .row {
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 11;
  border-bottom: 4px solid #b2b2b2;
}

#panel-mobile #container,
#container-models,
#sub-container {
  width: 103vw;
  /* height: 100%; */
  background: #fff;
  position: absolute;
  right: -800px;
}

#container-models .vehicle {
  display: block;
  margin: auto;
  border-bottom: 0.5px solid transparent;
  border-image: linear-gradient(
      90deg,
      transparent 0,
      #2a2a2a 20%,
      #2a2a2a 50%,
      #2a2a2a 80%,
      transparent
    )
    0 0 1 0;
}

#lefti {
  background-color: #fff;
  padding: 0;
}

#righti {
  background-color: #ececee;
  padding-left: 0;
  padding-right: 0;
}

#mbylle {
  cursor: pointer;
  outline: none;
  position: relative;
  left: 600px;
  border: none;
  width: 100px;
  height: 40px;
  right: 0;
  background-color: #ececee;
}

.vehicle {
  text-align: center;
  cursor: pointer;
  padding-top: 1rem;
}

.vehicle p {
  margin: 0;
  padding: 0;
}

.vehicle:hover {
  background-color: #b4b4b4;
}

.vehicle-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 !important;
}

.aktiv {
  color: #007edb;
  background-color: #ececee;
}

#gama-submenu1,
#gama-submenu2,
#gama-submenu3 {
  list-style-type: none;
}

#gama-submenu1 {
  padding-left: 0;
  line-height: 1rem;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  width: 100%;
}

/* #p2008-vid {
  height: 644px;
} */

.permas {
  z-index: -1 !important;
}

#bottom-nav {
  z-index: 1;
  position: relative;
}

.car-vid {
  position: relative;
  top: -96px;
  z-index: 0;
  object-fit: cover;
  outline: none;
}

#gama-submenu2,
#gama-submenu3 {
  line-height: 2rem;
  font-size: 14px;
  padding-left: 1rem;
}

#gama-submenu2 li,
#gama-submenu3 li {
  cursor: pointer;
}
#gama-submenu2 li:hover,
#gama-submenu3 li:hover,
#footer-content li:hover {
  color: #007edb;
  cursor: pointer;
}

#gama-submenu2 .row,
#gama-submenu3 .row {
  border-bottom: unset !important;
}

.crumbi {
  position: relative;
  bottom: 0px;
  width: 80rem;
  height: 50px;
  background-color: #ececee;
  z-index: 11;
}

.crumbi .row {
  width: inherit;
  height: inherit;
  margin: auto;
  align-items: center;
}

.crumbi #test {
  background-color: #0062c5;
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.crumbi #test:hover {
  background-color: #007be0;
  transition: 0.4s;
}

.crumbi #ofert {
  color: #0062c5;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.crumbi #ofert:hover {
  color: black;
  transition: 0.9s;
}

#gama-submenu1 li {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  padding: 1rem;
}

.splide__pagination {
  display: none !important;
}

@media (max-width: 1400px) {
  .right-header {
    width: 10%;
  }
  .right-header span {
    display: none;
  }
  .right-header i {
    padding-right: 1rem;
  }
  .card-btn {
    width: 190px;
  }
}

@media (max-width: 991px) {
  .car-vid {
    top: 0px !important;
  }
  #teknologjia .splide__slide {
    flex-wrap: wrap;
    align-items: baseline;
  }
  #teknologjia .splide__slide video,
  #teknologjia .splide__slide img {
    width: 100% !important;
    margin: auto;
    padding: 0 !important;
  }
  #teknologjia #pershtat-slider #galeria .grid-container {
    display: flex;
    flex-wrap: wrap;
    height: unset !important;
  }
  .titull h5 {
    line-height: unset;
  }
  .content {
    padding-top: 1rem;
  }
  .crumbi .row {
    width: unset !important;
    height: unset !important;
  }
  #test,
  #ofert {
    height: 3rem !important;
  }
  .crumbi {
    width: 100%;
    height: unset !important;
  }
  .crumbi #ofert {
    justify-content: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #galeria img {
    height: auto !important;
    width: 100% !important;
    object-fit: contain;
  }

  #galeria .row {
    display: block;
    height: fit-content;
  }

  video {
    margin: auto;
    width: 100%;
  }

  #teknologjia .flex-lg-row {
    flex-direction: column !important;
  }
  .splide__pagination {
    display: block !important;
    text-align: center;
  }

  .fixed-menu ul li {
    padding: 1rem;
    font-size: 12px;
  }

  .splide__arrow {
    display: none !important;
  }

  .fixed-menu ul {
    justify-content: start;
    white-space: nowrap;
  }

  .hide-mobile {
    display: none !important;
  }

  #pershtat .splide__slide,
  #serite .splide__slide {
    flex-wrap: wrap;
  }

  #pershtat .splide__slide img,
  #serite .splide__slide img {
    width: 100%;
  }

  #dizejno p,
  #dizejno h4 {
    padding: 1rem !important;
  }

  .above,
  .fixed-menu {
    top: 0px !important;
    z-index: 10;
  }

  #panel-mobile .fa {
    -webkit-text-stroke: 2px #ececee;
  }

  #panel-mobile .fas,
  .navbar-nav .fas:not(.fa-home) {
    -webkit-text-stroke: 3px white;
    font-size: 30px !important;
  }

  .sizing li {
    padding-left: 2.5rem;
  }

  .sizing li a {
    padding: 1rem 0;
  }

  .legal-notice {
    bottom: 0px !important;
  }

  #oferta-details .row div {
    min-height: 600px !important;
  }

  #oferta-details .more-btn {
    align-self: center;
  }

  #harta-button-div {
    justify-content: center !important;
    margin: auto;
  }

  #kerkesekembimi,
  #oferteautomjete,
  #testdrive {
    top: 0px !important;
    padding-top: 2rem;
  }

  /* #kontrollkondicioner img,
  #nderrimifiltrave img,
  #sistemifrenimit img,
  #oferta h2,
  #lajme-details img:first-child,
  #antialergji img,
  #kitdistributori img,
  #kontrollibaterise img,
  #paketaxhamave img,
  #hartafaqes img,
  #lajmepartner h2,
  #lajmepuretech h2,
  #lajmedakar p,
  #lajme508 h2 {
    margin-top: 5rem;
  } */

  #automjetet ul li {
    height: unset;
    padding: 8px 5px;
    font-size: 11px;
    text-align: center;
  }

  #automjetet-details .row img {
    padding: 1rem;
  }

  #automjetet-details .row p {
    text-align: left;
    font-weight: bolder;
    border-top: 1px solid #b4b4b4;
    text-align: center;
    position: relative;
    top: -170px;
    border: unset;
    font-size: 22px;
  }

  .breadcrumb,
  .nav-title {
    display: none;
  }

  /* #vendndodhja,
  #kontakt,
  #sistemifrenimit,
  #oferta,
  #lajme,
  #antialergji,
  #kitdistributori,
  #kontrollibaterise,
  #paketaxhamave,
  #hartafaqes,
  #lajmepartner,
  #lajmepuretech,
  #lajmedakar,
  #lajme508 {
    top: -58px;
  } */

  #vendndodhja-details {
    flex-wrap: wrap-reverse;
    height: unset;
  }

  #vendndodhja-details iframe {
    height: 350px;
  }

  #kontakt-details iframe {
    margin-top: 4.5rem;
  }

  #text .row {
    flex-wrap: nowrap;
  }

  #description-panel,
  #description-panel-automjete,
  #description-panel-interval {
    color: black;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    font-size: 13px;
    position: relative;
    top: 0px;
    left: 0%;
    height: auto;
    text-align: center;
  }

  .car-img,
  #financimi-img,
  #peugeot108-img,
  #activedrive-img,
  #automjetet-img,
  #sherbimservis-img,
  #intervalisherbimit-img,
  #automjete img,
  #rrethnesh img,
  #politikat img {
    top: 0;
  }

  #main-carousel #one-for-all {
    position: relative;
    bottom: 0;
    right: 0;
    margin: 3rem auto;
    margin-bottom: 0;
    width: 95%;
    display: block !important;
  }

  .App {
    min-width: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  nav {
    width: 100%;
    height: unset;
    padding: 0 !important;
  }

  .menu-mobile-text {
    display: block;
  }

  #first-li span,
  #second-li span,
  #third-li span {
    display: block;
  }

  #faqja-kryesore {
    display: flex;
    height: 50px;
  }

  #faqja-kryesore a {
    padding: 0 !important;
  }

  #faqja-kryesore i {
    font-size: 2rem;
    color: #2b547e;
    padding-right: 10px;
  }

  .navbar-nav {
    background: #fff;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1rem !important;
    justify-content: unset;
    height: 100vh;
    width: 100%;
    line-height: 2rem;
  }

  .navbar-nav li span {
    margin-right: 1rem;
  }

  .navbar-nav li {
    z-index: 16;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid transparent;
    border-image: linear-gradient(
        90deg,
        transparent 0,
        #2a2a2a 20%,
        #2a2a2a 50%,
        #2a2a2a 80%,
        transparent
      )
      0 0 1 0;
  }

  .nav-link {
    font-size: 1rem;
    color: #3c3947 !important;
  }

  .nav-link:focus {
    color: #0062c5 !important;
  }

  .navbar-brand {
    position: relative;
    top: 0%;
    left: -50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(50%, 0%);
  }
  .right-header {
    display: none;
  }
}

@media (max-width: 768px) {
  #gama-alt,
  #int-alt {
    margin: auto;
  }

  #main-carousel .more-btn {
    position: absolute;
    bottom: 5px;
    right: 50%;
    left: 50%;
    transform: translate(150%, 0%);
    width: 70px;
    font-size: 10px;
    height: 30px;
    line-height: 30px;
  }

  #myform input:not([type="checkbox"]),
  #te-dhena input:not([type="checkbox"]) {
    width: 100% !important;
  }
  #zgjedh-modelin {
    text-align: center;
  }
  #zgjedh-modelin label {
    width: unset;
  }
  #oferteform select,
  #driveform select {
    width: 90%;
  }
}

@media (max-width: 576px) {
  #motor-deck .card-body {
    text-align: center;
  }
  .removeWidth {
    width: unset !important;
  }
  .titull h5 {
    font-size: 12px !important;
  }
  #content-butona {
    width: unset !important;
  }
  .card-btn,
  .card-img-top {
    width: 90%;
  }
  .new-card {
    width: 90% !important;
    margin: auto !important;
    display: flex;
    justify-content: center;
  }
  #car-models {
    border: none;
  }
  #car-models .card {
    border-bottom: 1px solid #80808030 !important;
  }
}

#map {
  display: flex;
  justify-content: center;
  margin: auto;
}

#footer-content {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
}

.info-title {
  border-bottom: 1px solid #80808030;
  padding: 1rem 1rem 1rem 0;
  font-weight: bold;
}

.info ul {
  list-style-type: none;
}

#info-last {
  z-index: 1;
  display: flex;
  flex-direction: column;
}

#info-last a {
  text-align: left;
}

.alt-peugeot {
  justify-content: center;
  height: 60px;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#gama-alt {
  background-color: #3c3947;
  color: white;
}

#int-alt {
  background-color: white;
  color: #3c3947;
}

#harta-faqes {
  margin: 20px auto;
  background-color: #fff;
  cursor: pointer;
  padding: 15px 0;
  width: 90%;
}

#harta-faqes-text {
  display: block;
}

#harta-details {
  display: block;
}

#harta-details .row {
  padding-top: 20px;
}

#harta-button {
  background-color: #ccc;
  width: 210px;
  height: 50px;
  border: none;
  outline: none;
}

#go-top a {
  display: block;
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: #0c2d47;
  width: 60px;
  height: 60px;
  color: white;
  line-height: 60px;
  font-size: 35px;
  cursor: pointer;
}

.table th,
.table td {
  border: unset;
}

.fa-check {
  color: #007edb !important;
}

.tabletd {
  vertical-align: middle !important;
}

#intervali table {
  border: 1px solid #ddd;
  margin-top: 4rem;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: unset;
}

.border-table {
  border-bottom: 1px solid #3c3947;
}
